<div>
    <h1>¿Qué me parece Angular?</h1>
    <article>
        <p>I started out as a react developer and moved to angular for a job and 
            I found angular really easy and way more organized than react. 
            All the time through online blogs and articles 
            I have heard that angular is the most dreaded framework and it will die soon.
             I am really confused am I missing something. 
             I just don't understand what is wrong with angular because 
             I find it really good. I am still at entry level should 
             I be looking to move to react or getting some experience in angular will be good?</p>
        <p>I started out as a react developer and moved to angular for a job and 
            I found angular really easy and way more organized than react. 
            All the time through online blogs and articles 
            I have heard that angular is the most dreaded framework and it will die soon.
            I am really confused am I missing something. 
            I just don't understand what is wrong with angular because 
            I find it really good. I am still at entry level should 
            I be looking to move to react or getting some experience in angular will be good?</p>
    </article>
    @defer (on viewport) {
    <app-comments></app-comments>
    } @placeholder {
        <p>.</p>
    } @loading (minimum 2s) {
        <p>Cargando comentarios...</p>
    }
</div>



<!--<router-outlet><router-outlet /> --> 
